@mixin main-cards-desktop ($background) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), $background;
    height: 400px;
    width: 320px;
    margin: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    color: $light;
    font-family: "Philosopher";
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        transform: translatey(320px);
        background-color: #ebbe84c0;
        margin-right: 160px;
        border-top-right-radius: 20px;
        color: $brown2;
        text-align: start;
        padding-left: 20px;
    }
    &:hover{
        transform: scale(1.1);
        transition: 0.3s;  
    }
}

@mixin tecnicas-desktop ($background) {
    height: 300px;
    width: 80%;
    align-self: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    text-align: center;
    border-radius: 5px;
    box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    h2{
        padding-top: 80px;
        color: $text;
        font-weight: 900;
    }
    button{
        background-color: $primary;
        color: $text;
        padding: 3px 12px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        &:hover{
            background-color: $text;
            color: $primary;
            transition: .3s;
        }
    }
}