$primary: #6e2216;
$secondary: #92361b;
$brown: #672d22;
$terra: #c75826;
$light: #eadbdb;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
);

$titles: (
    "xs": 1rem,
    "s": 1.5rem,
    "m": 2.3rem,
    "l": 2.6rem,
    "xl": 3.2rem,
    "xxl": 3.8rem,
);