main{
    text-align: center;
}

.main__wrapper{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__tittle{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 40%;
    text-align: center;
    h1{
        font-size: 3.8rem;
        padding-top: 320px;
        font-family: "Philosopher", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(235, 190, 132);
        font-weight: 900;
    }
    h2{
        font-size: 2.5rem;
        font-family: "Philosopher", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(235, 190, 132);
    }
}

/* CARDS */

#main__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $brown;
}

.main__cards__sobremi,
.main__cards__misobras,
.main__cards__tecnicas,
.main__cards__contactame{
    height: 400px;
    width: 320px;
    margin: 20px;
    background-color: azure;
    text-align: center;
    border-radius: 8px;
    box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
}

.main__cards__sobremi,
.main__cards__misobras,
.main__cards__tecnicas{
    color: azure;
    font-family: "Philosopher";
    h2{
        padding-top: 20px;
    }
}

.main__cards__sobremi{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fabiana.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.main__cards__misobras{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/IMG_1970.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 100px;
}

.main__cards__tecnicas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/tecnicas.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}