.sobre__mi__wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/wrapper.webp);
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    h1{
        padding-top: 160px;
        text-align: center;
        color: $text;
        font-weight: 900;
        font-size: 4rem;
        letter-spacing: 10px;
        align-self: flex-end;
    }
}

.sobre__mi{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: $text;
    h2{
        color: $brown2;
        text-align: center;
        padding-top: 80px;
    }
    p{
        color: $brown2;
        text-align: start;
        padding: 5px 220px;
    }
    img{
        margin: 30px 220px 30px 0;
        box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    }
}

.sobre__mi__trayectoria{
    display: flex;
    background-color: $brown;
    h2{
        color: $text;
        text-align: center;
        padding-top: 70px;
        padding-right: 220px;
    }
    p{
        color: $text;
        text-align: start;
        padding: 5px 220px 30px 0px;
    }
    img{
        margin: 30px 220px;
        box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    }
}

.sobre__mi__exposiciones{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: $text;
    h2{
        color: $brown2;
        text-align: center;
        padding-top: 70px;
    }
    p{
        color: $brown2;
        text-align: start;
        padding: 5px 220px;
    }
    img{
        margin: 30px 220px 30px 0;
        box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -webkit-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
        -moz-box-shadow: 8px 7px 14px -6px rgba(0,0,0,0.76);
    }
}