#tecnicas{
    height: 100%;
    background-color: $text;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        padding-top: 120px;
        text-align: center;
        color: $brown2;
        font-weight: 900;
    }
    
}

.tecnica__1{
    @include tecnicas-desktop (url(/img/obras/img43.JPG));
}
.tecnica__2{
    @include tecnicas-desktop (url(/img/obras/img23.jpg));
}
.tecnica__3{
    @include tecnicas-desktop (url(/img/obras/img25.jpg));
    margin-bottom: 50px;
}