*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

h1, h2, h3{
    font-family: "Philosopher";
}

@font-face {
    font-family: "Philosopher" ;
    src: url("../fonts/Philosopher-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
    font-family: "Philosopher" ;
    src: url("../fonts/Philosopher-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700; 
}

@font-face {
    font-family: "Taviraj" ;
    src: url("../fonts/Taviraj-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
    font-family: "Taviraj" ;
    src: url("../fonts/Taviraj-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300; 
}

@font-face {
    font-family: "Taviraj" ;
    src: url("../fonts/Taviraj-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight:900; 
}

@font-face {
    font-family: "Mulish" ;
    src: url("../fonts/Mulish-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300; 
}

@font-face {
    font-family: "Mulish" ;
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
    font-family: "Mulish" ;
    src: url("../fonts/Mulish-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700; 
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-SemiBold.ttf);
    font-style: normal;
    font-weight: 700;
}

